{% extends 'Community/base.html' %}

{%load static%}

{% block title %}
Add community
{% endblock %}

{%block link%}
<link rel="stylesheet" href='{% static "add_community.css" %}'>
{%endblock%}

{% block content %}

<script src='{% static "add_community.js" %}' ></script>
<h1>Add Community</h1>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <label>Name</label>
        <input type="text" id="community-name" name="community-name" class="form-control mb-3">

        <label>Created user</label>
        <datalist id="community-created-user" name="community-created-user" class="form-control mb-3"> 
            <option></option>
        </datalist>

        <label>Description</label>
        <textarea id="community-description" name="community-description" class="form-control mb-3"> </textarea>
        

        <label>Score to be mentor</label>
        <input id="mentor-threshold" name="mentor-threshold" class="form-control mb-3" type="number""> </textarea>

        
        <label>Document upload permission</label>
        <select class="form-select" aria-label="Default select example" name="community-upload-permission" style="margin-bottom: 15px;">
            <option selected value="1">Freely</option>
            <option value="2">Only Mentor</option>
            <option value="3">Restricted</option>
        </select>
        <div class="container text-center" style="margin-bottom: 15px;">
            <div class="row" style="margin-left: 0%; justify-content: center; align-items: center;">
                <div class="form-check form-switch col-5">
                    <input class="form-check-input" type="checkbox" role="switch" id="enable_entrance_test-24923" name = "enable-entrance-test">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Enable entrance questions</label>
                </div>
                <!-- <div class="input-group col-5" style="width: auto;" id="file_upload_container-24923">
                    <input type="file" class="form-control" id="file_upload-24923" disabled>
                </div> -->
            </div>
        </div>
        

        <div style="display: flex; justify-content: center;">
            <button class="btn btn-primary" id = "add_community_button-24923">Add</button>
        </div>        
        
    </form>
</div>

{% endblock %}