.signup-container {
    width: 900px;
}

.container{
    padding-top: 40px;
}

.avatar {
    color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}